<div class="about">
<link rel="stylesheet" href="../styles/about.css">
  <span style="text-align:center;">
    <p class="bigtxt">We bet we can<br /> save the world</p>
    <p>Lucky9 is a lottery system on the blockchain</p>
    <p style="margin: 0;"> Anybody has the chance to win prizes and at the same time,</p>
    <p>make ou world a better place.</p>
  </span>
  <br><br>
  <div class="container" >
  <div class="row">
    <div class="col-sm-3">
      <span class="bigtxt">
        <p>ENTER THE</p>
        <p>LOTTERY</p>
      </span>
    </div>

    <div class="col-sm-6">
      <span>
        <p class="mdtxt">Sign up to our newsletter to get a chance to win carbon offsets and toreduce your carbon footprint by 4000kg, negating three months' worth of emissions.
        </p>
      </span>
    </div>
  </div>

    <input id="mail" style="width: 75%;" value="EMAIL" ng-model="newsMail"><button class="btn btn-success" style="margin-left: 5px; height:26px">SUBSCRIBE</button>
</div>



</div>
