<div class="about">
<link rel="stylesheet" href="../styles/about.css">
  <span style="text-align:center;">
    <p class="bigtxt">We bet we can<br /> save the world</p>
    <p>Lucky9 is a lottery system on the blockchain</p>
    <p style="margin: 0;"> Anybody has the chance to win prizes and at the same time,</p>
    <p>make ou world a better place.</p>
  </span>
  <br><br>
  <div class="container" >
  <div class="row">
    <div class="col-sm-3">
      <span class="bigtxt">
        <p>ENTER THE</p>
        <p>LOTTERY</p>
      </span>
    </div>

    <div class="col-sm-6">
      <span>
        <p class="mdtxt">Sign up to our newsletter to get a chance to win carbon offsets and toreduce your carbon footprint by 4000kg, negating three months' worth of emissions.
        </p>
      </span>
    </div>
  </div>

    <input id="mail" style="width: 75%; height:32px;" ng-model="newsMail"><button class="btn btn-success" style="position: relative; top:-1px; margin-left: 5px;">SUBSCRIBE</button>
</div>
<div class="container">
<div class="row">
  <div class="col-sm-2">
    <img style="width:100%;" src="../images/earthBall.png">
  </div>
  <div class="col-sm-6">
    <p class="bigtxt">Make a positive impact</p>
    <p class="mdtxt">We're gambling out planet's future with every bad choice we make that has a negative impact on the environment and the majority of us don't even realize it.</p>
    <p class="mdtxt">We're here to change that</p>
  </div>
</div>
<div class="row">
  <div class="col-sm-6">
    <p class="bigtxt">Organize a lottery</p>
    <p class="mdtxt">Any NGO can design a lottery for fundraising purposes, using our lottery generator.</p>
    <p class="mdtxt">You just have to choose some parameters and you're ready to go. The money raised through selling lottery tickets will be used to pay prizes and fund a certain NGO project.</p>

    <button class="btn btn-success">CREATE A LOTTERY</button>
  </div>
  <div class="col-sm-4">
      <img src="../images/brainGlasses.png" style="width: 100%;">
  </div>
</div>
<div class="row" style="margin-bottom: 10px;">
  <div class="col-sm-3">
    <img src="../images/goodLuck.png" style="width: 100%;">
  </div>
  <div class="col-sm-6">
    <p class="bigtxt">Enter a lottery</p>
    <p class="mdtxt">Anybody can buy tickets to enter lotteries running on our platform.</p>
    <p class="mdtxt">You can win various prizes, ranging from money to cool experiences(a dinner with Simona Halep, for example).</p>
    <button class="btn btn-success">BUY TICKETS</button>
  </div>
</div>

</div>

</div>
