<div class="faq">
  <div class="container" style="text-align: center;">
  <h1>FAQ</h1>
  <br><br>
  <h3>Who is behind this project?</h3>
  We are nine guys happy to live in the midst of the blockchain revolution.<br> We want to become proficient in blockchain development and this is one of our first projects.

  <h3>Why blockchain?</h3>
  We chose to develop the lottery on the blockchain because we wanted to eliminate the need of trusting a third party entity to be fair when selecting a winner,<br> when it comes to operating costs, and for the overall transparency of the system and processes.

  <h3>How does it work?</h3>
  We developed an Ethereum smart contract that holds all the rules of the lottery.<br> Once the maximum number of people enters a lottery (by buying tickets using ETH), a winner is automatically drown and the prize funds are sent to the winner’s address.

  <h3>How can I buy tickets?</h3>
  You can buy tickets by sending ETH to the address associated with the lottery you want to enter.<br> For our current lottery, one ticket costs 1 ETH. Send the amount of ETH you want to buy tickets for to this address: xxxxxx.

  <h3>What prizes can I win?</h3>
  It depends on the type of lottery you’re entering.<br> Some lotteries offer money prizes, others offer prizes in the form of unique experiences.

  <h3>How can we save the world?</h3>
  It all starts with awareness: identify problems and find their root causes. <br>Next, throw in some design thinking and impact projections, mixed with innovative approaches, experimentation, and agile implementation.<br> Of course, the more of us, the merrier.
  <br>
  Lucky9 supports NGOs with bold visions, extensive know-how, and proven track record of successful projects.<br> We enable them to raise the funds needed to heal our planet and create a sustainable future.
  <br>
  Our lottery participants find themselves in a sweet spot: everybody who bought a ticket wins (either prizes, either a better world).
</div>
<!--
What we did:
    - We have lucky9.ml website up and running
    - We have lucky iOS app up and running
    - We built a smart contract on the ethereum test network
    - We stated a social media campaign for friends and family
    - And we started a lottery that has the following conditions
        ○ The lottery has a maximum number of participants of 10 people
        ○ Users can buy a lottery ticket for 1 ETH sending funds to the following address
        ○ When the smart contract has 10 tickets bought, a random ticket is selected the winner and is displayed on the website
Next steps:
    - We realized that the system can be so much more
        ○ From a product perspective we have 2 additional use cases that we started working on:
            § Give users the possibility of creating their own lottery's (public/private, event based, location based, number of participants)
            § Create lottery's that help out crowdfunding campaigns or fundraisers
                □ Ex: lottery that has 50% of funds donated to a fundraiser that wants to build a new hospital
Even if you don’t win , you know that you helped out a good cause
-->
</div>
