<div class="main">

  <div class="container">
    <div class="row">
      <div class="col-sm-6">
          <span style="text-align: center;">
            <p class="bigtxt">We bet we can<br /> save the world</p>
            <p class="mdtxt">Buy JS Hacks Lottery Tickets.</p>
            <p>The winner will be announced at:<br /></p>
            <p class="cyan">{{winDate}}</p>
            <p>70% OF THE TOTAL POT GOES TO THE WINNER</p>
            <p>30% GOES TO GREEN PEACE</p>
          </span>
      </div>


      <div class="col-sm-6" style="text-align:center;">
                  <div class="row">
                    <div class="col-xs-3">
                        <span>
                          <p style="margin: 0;">Current Prize</p>
                          <p class="mdtxt cyan">{{prize}} ETH</p>
                        </span>
                      </div>
                      <div class="col-xs-3">
                        <span>
                          <p style="margin: 0;">Price/Ticket</p>
                          <p class="mdtxt cyan">{{price}} ETH</p>
                        </span>
                      </div>
                      <div class="col-xs-3"
                        <span>
                          <p style="margin: 0;">Tickets Left</p>
                          <p class="mdtxt cyan">{{noTickets}}</p>
                        </span>
                      </div>
                      <div class="col-xs-3">
                        <span>
                          <p>Participants Count</p>
                          <p class="mdtxt cyan">{{participantsCount}}</p>
                        </span>
                      </div>
                    </div>


          <qrcode id="qr1" data="{{qrHash}}" href={{qrHref}} version="5" size="200" download></qrcode>

          <p class="smtxt cyan">{{qrHash}}</p><br>

          <p class="mdtxt"><img style="position:relative; top:-2px; width:20px" src="../images/winner.png"> LAST WINNER: {{lastWinCounter}} AGO</p>
          <p class="cyan">{{lastWinnerHash}}</p>
          <br>
          <p class="mdtxt"><img style="width:20px;" src="../images/link.png">ETHERSCAN LINK</p>


        </div>
    </div>

  </div>

  <!--
  <button class="btn btn-success" ng-click="post();">POST-TEST</button>
  -->
  <!--
  <div>
   <table id="statTable" class="table-striped table-bordered table-condensed">
    <thead>
      <th>
        Lottery Name:
      </th>
      <th>
        Status:
      </th>
      <th>
        No. of Gamblers:
      </th>
      <th>
        Redemption:
      </th>
      <th>
        Participate:
      </th>
    </thead>
    <tbody>
      <tr ng-repeat="lot in lots">
        <td>{{lot.name}}</td>
        <td>{{lot.status}}</td>
        <td>{{lot.pop}}</td>
        <td>{{lot.endTime}}</td>
        <td><button class="btn btn-warning" id="partBtn"><a href="{{lot.partHref}}"><i class="fa fa-bitcoin"></i></a></button></td>
      </tr>
    </tbody>
  </table>
 </div>
-->


</div>
